<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
	package="ie.simo.movies" android:versionCode="15" android:versionName="0.25">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="12"/>

	<!-- uses-permission android:name="android.permission.INTERNET"/> -->
	<application android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".activities.StartActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="Production" android:name=".activities.Production"/>
		<activity android:label="Preferences" android:name=".activities.Preferences"/>
		<activity android:label="Choose Film" android:name=".activities.MakeFilmActivity"/>
		<activity android:label="Choose Director" android:name=".activities.GetDirector"/>
		<activity android:label="Box Office" android:name=".activities.AllTimeBoxOffice"/>
		<activity android:label="Create your film" android:name=".activities.OwnFilmActivity"/>
		<activity android:label="Pitch your Film" android:name=".activities.NewPitchFilm"/>
		<activity android:label="Result" android:name=".activities.Result"/>
		<activity android:label="Choose Actor" android:name=".activities.GetActor"/>
		<activity android:label="Set Content" android:name=".activities.SetContent"/>
		<activity android:label="Box Office" android:name=".activities.BoxOffice"/>
		<activity android:label="Your Movies" android:name=".activities.PersonalBest"/>
		<activity android:label="Load Game" android:name=".activities.ContinueGameActivity"/>
		<activity android:label="Special Effects" android:name=".activities.SpecialEffects"/>
		<activity android:label="Plot Summary" android:name=".activities.PlotSummary"/>
		
	</application>
</manifest>