<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.simo.movies"
    android:installLocation="auto"
    android:versionCode="16"
    android:versionName="0.26" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="12" />

    <!-- uses-permission android:name="android.permission.INTERNET"/> -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="ie.simo.movies.activities.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.simo.movies.activities.Production"
            android:label="Production"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.Preferences"
            android:label="Preferences" />
        <activity
            android:name="ie.simo.movies.activities.MakeFilmActivity"
            android:label="Choose Film"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.GetDirector"
            android:label="Choose Director"
            android:screenOrientation="portrait"  />
        <activity
            android:name="ie.simo.movies.activities.AllTimeBoxOffice"
            android:label="Box Office" />
        <activity
            android:name="ie.simo.movies.activities.OwnFilmActivity"
            android:label="Create your film"
            android:screenOrientation="portrait"/>
        <activity
            android:name="ie.simo.movies.activities.PitchFilm"
            android:label="Pitch your Film"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.Result"
            android:label="Result"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.GetActor"
            android:label="Choose Actor" 
            android:screenOrientation="portrait" 
            />
        <activity
            android:name="ie.simo.movies.activities.SetContent"
            android:label="Set Content"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.BoxOffice"
            android:label="Box Office"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.PersonalBest"
            android:label="Your Movies"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.ContinueGameActivity"
            android:label="Load Game"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.SpecialEffects"
            android:label="Special Effects"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.PlotSummary"
            android:label="Plot Summary"
            android:screenOrientation="portrait" />
        <activity
            android:name="ie.simo.movies.activities.OscarsActivity"
            android:label="Academy Awards"
            android:screenOrientation="portrait" />
    </application>

</manifest>