<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ie.simo.movies" android:versionCode="8" android:versionName="0.18">
	<uses-sdk android:minSdkVersion="7" />

	<!-- uses-permission android:name="android.permission.INTERNET"/> -->
	<application android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".activities.StartActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:label="Preferences" android:name=".activities.Preferences">
		</activity>
		<activity android:label="Choose Film" android:name=".activities.MakeFilmActivity">
		</activity>
		<activity android:label="Choose Director" android:name=".activities.GetDirector">
		</activity>
		<activity android:label="Box Office" android:name=".activities.BoxOffice"
			android:screenOrientation="landscape">
		</activity>
		<activity android:label="Create your film" android:name=".activities.OwnFilmActivity">
		</activity>
		<activity android:label="Pitch your Film" android:name=".activities.PitchFilm">
		</activity>
		<activity android:label="Result" android:name=".activities.Result">
		</activity>
		<activity android:label="Choose Actor" android:name=".activities.GetActor">
		</activity>
		<activity android:label="Set Content" android:name=".activities.SetContent">
		</activity>
		<activity android:label="BoxOffice" android:name=".activities.BoxOfficeTab"/>
		
	</application>
</manifest>